*{
    margin: 0;
    padding: 0  ;
}

.header{
    width: 100%;
    /* height:100px ; */
}
.marqe{
    background-color: #FFE8DF;
    height: 20px;
    /* width: 80%; */
}
.marqe .marqemsg{
   padding: 0% 15% 0% 15%;
  
}
.nav{
    background-color:#54595F ;
    /* height: 80px; */
    display: grid;
    grid-template-columns:25% 25% 20% 20% ;
    justify-content:center;
}
.logo img{
    height: 70px;
    padding-left: 25px;
}
.navigations{
    padding-top: 25px;
}
.navigations a{
    text-decoration: none;
    color: rgb(253, 253, 253);
    /* font-weight: bold; */
    text-align: center;
    padding: 5px;
    /* display:inline-block; */
    
}
.searchbar{
    padding-top: 25px;
    padding-left: 20px;
}
.searchbar .search{
    height: 30px;
}
.icons{
    padding-top: 25px;
    justify-content: space-evenly;
}
.icons a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
}
.fb{
    height: 20px;
}
.linkedin{
    height: 20px;
   border-radius: 10px;
}
.wishlist{
    height: 20px;
}
.cart{
    height: 20px;
}

.bgimgc{
    width: 100%;
    height: 400px;
}
.heading{
    position: absolute;
    top: 150px;
    left: 40%;
    font-size: 20px;
    color: white;
}
.heading .cimg{
    width: 200px;
    height: 100px;
}
.snow{
    padding-left: 60px;
    padding-right: 60px;
    height:30px;
    border-radius: 5px;

}
.dsale{
    padding-left: 40px;
    padding-right: 45px;
    height:30px;
    border-radius: 5px;
}
.carrousel{
    /* background-color: rgb(223, 213, 213); */
    /* width: 80%; */
    /* height: 300px; */
    display: grid;
    padding: 50px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px ;
    grid-template-rows: 210px;
    gap: 10px;
    justify-content:space-evenly;
   
}
.c{
    /* background-color: rgb(197, 129, 2); */
    border-radius: 50%;
    text-align: center;
    /* width: 215px; */
}
.carrousel img{
    border-radius: 50%;
    height: 90%;
    width: 100%;
}
.c a{
    text-decoration: none;
    color: black;
}
.bestsell{
    width: 100%;
    height: 50px;
    /* background-color:#3d0d0d; */
    justify-items: center;
    padding-top: 30px;
}
.bestsell h1{
    font-size:30px;
    font-weight: bold;
    color: rgb(177, 177, 168);
}
.section3{
    /* background-color: #54595F; */
    width: 100%;
    /* height: 550px; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content:space-around;
    /* gap: 20px; */

}
.contents{
    width: 100% ;
    /* height: 500px; */
    /* background-color: aliceblue; */
}
.contents img{
   height: 200px;
   width: 100%;
}
.iandtext{
    width: 100%;
    /* height: 100px; */
    /* background-color: aqua; */
    /* margin-top: -8px; */
    display: flex;
}
.iandtext a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
.iandtext .text{
    width: 80%;
    /* background-color: antiquewhite; */
    /* height: 100px; */
    padding-left: 10px;
    padding-top: 10px;
}
.iandtext .icon{
    width: 20%;
}
.bandrs{
    width: 100%;
    /* height: 200px; */
    /* background-color: black; */
   padding-top: 10px;
   padding-left: 10px;
}
.bandrs .atoc{
    width: 30%;
    height: 40px;
}
.bandrs a{
    text-decoration: none;
    color: black;
}
.bsmore{
    /* background-color:aqua; */
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    padding-top: 50px;
}
.bsmore a{
    text-decoration: none;
    color: #54595F;
   
}
.bsmore button{
    width: 200px;
    height: 30px;
}
.na{
    width: 100%;
    /* background-color: #54595F; */
    justify-items: center;
}
.na h3{
     font-size:30px;
    font-weight: bold;
    color: rgb(177, 177, 168);
}
.nacards{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 400px 400px;
    justify-content: space-around;
    /* background-color: aqua; */
    gap: 10px;
    padding-top: 20px;
}
.card1{
    width: 100%;
}
.card1 img{
    height: 200px;
    width: 100%;
} 
.bsmore2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.bsmore2 button{
    width: 200px;
    height: 30px;
    color: rgb(136, 133, 130);
}
.footer{
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 150px 100px 50px px 300px 300px; */
    gap: 10px;
    justify-content: center;
    justify-items: center;
}
.flogo{
    padding-top: 20px;
}
.ficons img{
   height: 40px;
   padding: 20px;

}
.rights{
    /* background-color: aliceblue; */
    text-align: center;
    /* font-size: 30px; */
    font-weight: bold;
    color: darkgrey;
    padding-top: 20px;
}
.solutions , ul{
    /* background-color: aliceblue; */
    /* width: 50%; */
    color: darkgray;
    /* font-size: 30px; */
    list-style-type: none;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
}
.aboutus ,ul{
    color: darkgray;
    /* font-size: 30px; */
    list-style-type: none;
    justify-content: center;
    justify-items: center;
}
.contact ,a , ul{
    color:darkgray ;
    /* font-size: 30px; */
    text-decoration: none;

}
@media (max-width:1200px) and (min-width:770px) {
    .nav{
        grid-template-columns: 100%;
        /* justify-content: center; */
        justify-items: center;

    }
    .carrousel{
        grid-template-columns: auto auto auto auto;
        grid-template-rows:200px 200px ;
    }
     .heading{
        justify-content: center;
        justify-items: center;
        top: 15%;
    }
    .nacards{
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px 400px 400px 400px;
    }
}
@media (max-width:769px) and (min-width:577px)
        {
    .nav{
        grid-template-columns: 100%;
        /* justify-content: center; */
        justify-items: center;

    }
    .heading{
        justify-content: center;
        justify-items: center;
        top: 15%;
    }
    .carrousel{
        /* background-color: rgb(223, 213, 213); */
        /* width: 80%; */
        grid-template-columns: 200px 200px ;
        grid-template-rows: 200px 200px 200px;
        gap: 10px;
        /* padding: 50px; */
        justify-content:space-evenly;
    }
    .nacards{
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px 400px 400px 400px;
    }
}
@media (max-width:576px) {
    .nav{
        grid-template-columns: 100%;
        /* justify-content: center; */
        justify-items: center;

    }
    .heading{
        /* justify-content: center;
        justify-items: center; */
        top:300px;
        left: 30%;

    }
    .carrousel{
        grid-template-columns:200px ;

    }
    .section3{
        grid-template-columns: auto;
    }
    .bestsell h1{
    font-size:20px;
    font-weight: bold;
    color: rgb(177, 177, 168);
}
.nacards{
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px 400px 400px 400px;
    }
    .ficons img{
   height: 30px;
   padding: 20px;

}
}

